<div class='container'>
    <div class="row">
        <div class="col-md-12">
            <h1>SNMP Agents</h1>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <a *ngFor="let agent of agents" [class.active]="agent === selectedAgent" (click)="onSelect(agent)" class="list-group-item">
                    <span>{{agent.name}} </span>
                </a>
            </div>
            <hr/>
            <button type="button" class="btn btn-primary" (click)="newSnmpAgent()">Create new SNMP Agent</button>
        </div>
        <div class="col-md-6">
            <agent-detail [agent]="selectedAgent" [device]="deviceForAgent"></agent-detail>
            <agent-new [agent]="newAgent" [devices]="devices"></agent-new>
        </div>
    </div>
</div>