<div class='container'>
    <div class="row">
        <div class="col-md-12">
            <h1>SNMP Agents</h1>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <a *ngFor="let agent of agents" [class.active]="agent === selectedAgent" (click)="onSelect(agent)" class="list-group-item">
                    <span>{{agent.name}} </span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <agent-detail [agent]="selectedAgent"></agent-detail>
        </div>
    </div>
</div>