<div *ngIf="device">
    <div class="card">
        <div class="card-header">
            <!--HEADER -->
            <h2>{{device.name}}</h2>
        </div>
        <div class="card-block">
            <!-- BLOCK -->
            <dl class="row">
                <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="The name of the Device">Name</dt>
                <dd class="col-sm-9">{{device.name}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="Description about device">Description</dt>
                <dd class="col-sm-9">{{device.description}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="Device IP">Ip</dt>
                <dd class="col-sm-9">{{device.ip}}</dd>
            </dl>
            <hr/>
            <dl class="row">
                <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="SNMP agent port in the device">Port</dt>
                <dd class="col-sm-9">{{device.port}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="SNMP Public community">Read Community</dt>
                <dd class="col-sm-9">{{device.readOnlyCommunity}}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3" data-toggle="tooltip" data-placement="top" title="SNMP Private Community">Write Community</dt>
                <dd class="col-sm-9">{{device.readWriteCommunity}}</dd>
            </dl>
        </div>
        <!-- /BLOCK -->
        <div class="card-footer text-muted">
            <!-- FOOTER -->
            <a type="button" class="btn btn-primary" routerLink="/device/{{device._id}}">Edit</a>
        </div>
        <!-- /FOOTER -->
    </div>
</div>